<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Scatch - Authentication</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>

    <% if(error.length>0){ %>
        <div class="error-box">
            <span class="error-text">
                <%= error %>
            </span>
        </div>
        <% } %>


            <div class="container">
                <div class="left-section">
                    <div class="form-box">
                        <h3>Welcome to <span class="brand">Scatch</span></h3>
                        <h4>Create Your Account</h4>

                        <form autocomplete="off" action="/users/register" method="post">
                            <input type="text" placeholder="Full Name" name="fullname">
                            <input type="email" placeholder="Email" name="email">
                            <input type="password" placeholder="Password" name="password">
                            <input type="submit" value="Create My Account" class="btn">
                        </form>
                    </div>
                </div>

                <div class="right-section">
                    <div class="form-box">
                        <h4>Login Your Account</h4>

                        <form autocomplete="off" action="/users/login" method="post">
                            <input type="email" placeholder="Email" name="email">
                            <input type="password" placeholder="Password" name="password">
                            <input type="submit" value="Login" class="btn">
                        </form>
                    </div>
                </div>

            </div>

</body>

</html>