<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" href="/stylesheets/ownerlogin.css">
</head>
<body>

    <div class="container">
        <div class="login-box">
            <h4>Admin Access</h4>

            <form autocomplete="off" action="/create" method="post">
                <input type="email" placeholder="Email">
                <input type="password" placeholder="Password">
                <input type="submit" value="Login" class="btn">
            </form>
        </div>
    </div>

</body>
</html>
