* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f5f5f5;
}

.page {
    display: flex;
    min-height: 100vh;
    padding: 40px;
}

.sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    font-weight: 500;
}

.sidebar a:hover {
    text-decoration: underline;
}

.content {
    width: 75%;
    background: white;
    padding: 30px;
    margin-left: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h2 {
    font-size: 22px;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
}

.section h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.submit-btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: #3b82f6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.submit-btn:hover {
    background: #2563eb;
}

.success-box {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 20px;
    background-color: #2c58eb;
    border-radius: 6px;
}


.success-text {
    color: white;
    display: inline-block;
}