* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 400px;
}

.login-box h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #d4d4d8;
    border-radius: 6px;
    background-color: #f4f4f5;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #3b82f6;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #3b82f6;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background-color: #2563eb;
}
