* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
}

.container {
    display: flex;
    padding: 60px;
    gap: 40px;
}

.sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.sort-box h3 {
    margin-bottom: 10px;
}

select {
    padding: 5px 10px;
    border: 1px solid #ccc;
}

.links-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-group a {
    text-decoration: none;
    color: black;
}

.links-group a:hover {
    text-decoration: underline;
}

.products-section {
    width: 75%;
}

.products-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-card {
    width: 195px;
}

.product-image {
    height: 200px;
    background: #facc15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image img {
    height: 80%;
    /* width: 100%; */  
    object-fit: cover;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #e6c7c7;
}

.product-info h3 {
    font-size: 16px;
}

.product-info h4 {
    font-size: 14px;
    margin-top: 5px;
}

.add-btn {
    width: 28px;
    height: 28px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #ddd;
}

.add-btn:hover {
    background: #e5e5e5;
}

.logout {
    display: inline-block;
    padding: 8px 16px;
    margin: 10px;
    background-color: #e74c3c;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 600;
    transition: 0.3s ease;
    position: absolute;
    right: 10px;
}

.logout:hover {
    background-color: #c0392b;
}

.success-box {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 12px 20px;
    background-color: #2c58eb;
    border-radius: 6px;
}


.success-text {
    color: white;
    display: inline-block;
}